* {
    border: 0;
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: "Sans_Serif";
	src: url("../fonts/OpenSans-CondBold.eot#?iefix") format("embedded-opentype"),
		   url("../fonts/OpenSans-CondBold.ttf") format("truetype"),
		   url("../fonts/OpenSans-CondBold.svg#Pecita") format("svg"),
  		 url("../fonts/OpenSans-CondBold.woff") format("woff");
}
body {
	background-color: #fff;
  margin: 0px;
	font-family: "Sans_Serif";
	font-size: 20px;
	text-align: center;
}
header {
	background-color: rgba(255, 255, 255, 0.5);
	height: 60px;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 1000;
}
nav {
	margin: 0 auto;
	width: 100%;
}
#mainMenu, #redes {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 5 auto;
}
#redes ul {
	margin-left: 0.75em;
}
#mainMenu ul li, #redes ul li {
	cursor: pointer;
	display: inline-block;
	list-style: none;
	position: relative;
}
#MainMenu ul li a:hover {
	color: #B2BAB9;
}
#MainMenu ul li.active a {
	color: #B2BAB9;
}
#MainMenu ul li a {
	color: #575756;
	line-height: 50px;
	position: relative;
	text-decoration: none;
	box-sizing: border-box;
	padding: 0.70em;
}
#redes	ul li a {
	color: #575756;
	line-height: 50px;
	position: relative;
	text-decoration: none;
	box-sizing:border-box;
	padding: 0.25em;
}
#facebook, #twitter, #instagram, #youtube {
	height: 20px;
	margin: 0px;
	padding:0px;
}
.section{
    clear: none;
    display: block;
    /*float: left;*/
    overflow-x: visible;
    overflow-y: visible;
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu_bar{
	display: none;
}

@media (max-width: 850px){
  header {
  	height: 50px;
  }
  header nav{
  	display: block;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: -100%;
  	z-index: 999;
  	background-color: rgba(255, 255, 255, 0.9);
  }
  #redes {
  	display: block;
		margin: auto;
  }
  #redes ul{
  	display: inline-block;
  }
  #mainMenu{
  	width: 50%;
		margin: auto;
  }
  #mainMenu ul li {
  	display: block;
  	float: none;
  	border-bottom:  1px solid #B2BAB9;
  }
   #redes ul li {
  	float: none;
  }
  #mainMenu ul li a{
  	line-height: 60px;
  	padding: 0.20em;
  }
  #redes	ul li a{
  	line-height: 50px;
  	padding: 0.5em;
  }
  .menu_bar{
  	display: inline-block;
  	width: 100%;
  	line-height: 40px;
  }
  .menu_bar .boton_menu {
  	display: inline-block;
		margin-top: 10px;
  	font-family: "Sans_Serif";
  	color: #575756;
  	text-decoration: none;
  }
  .section{
      clear: none;
      display: block;
      /*float: left;*/
      overflow-x: visible;
      overflow-y: visible;
      position: absolute;
      width: 100%;
      height: 100%;
  }
}
@media (max-width: 640px){

  header nav{
  	display: block;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: -100%;
  	z-index: 999;
  	background-color: rgba(255, 255, 255, 0.9);
  }
  #redes {
  	display: block;
  }
  #redes ul{
  	display: inline-block;
  }
  #mainMenu{
  	width: 95%;
  }
  #mainMenu ul li {
  	display: block;
  	float: none;
  	border-bottom:  1px solid rgba(0, 147, 146, 0.25);
  }
  #redes ul li {
  	float: none;
  }
  #mainMenu ul li a{
  	line-height: 25px;
  	padding: 0.20em;
  	font-size: 14px;
  }
  #redes	ul li a{
  	line-height: 25px;
  	padding: 0.20em 0.50em;
  	font-size: 14px;

  }
  .menu_bar{
  	display: inline-block;
  	width: 100%;
  	line-height: 40px;
  }
  .menu_bar .boton_menu {
		display: inline-block;
		margin-top: 10px;
  	font-family: "Sans_Serif";
  	color: #575756;
  	text-decoration: none;
  }
}

.logo {
  width: 90%;
  position: absolute;
  top: 50px;
  left: 5%;
  z-index: 0
}
