* {
    border: 0;
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: "DK-Lemon";
	src: url("../fonts/DK-Lemon-Yellow-Sun.eot#?iefix") format("embedded-opentype"),
		   url("../fonts/DK-Lemon-Yellow-Sun.otf") format("truetype"),
		   url("../fonts/DK-Lemon-Yellow-Sun.svg#Pecita") format("svg"),
  		 url("../fonts/DK-Lemon-Yellow-Sun.woff") format("woff");
}
@font-face {
	font-family: "meta_book";
	src: url("../fonts/MetaSerifBook.eot");
	src: url("../fonts/MetaSerifBook.eot#?iefix") format("embedded-opentype"),
		 url("../fonts/MetaSerifBook.ttf") format("truetype"),
		 url("../fonts/MetaSerifBook.svg#Pecita") format("svg"),
		 url("../fonts/MetaSerifBook.woff") format("woff");
}

body {
	background-color: #fff;
  margin: 0px;
	font-family: "DK-Lemon";
	font-size: 20px;
	text-align: center;
  background: url("../img/Chamalú/fondo.png") center no-repeat;
  background-size: cover;
}

header {
	background-color: rgba(255, 255, 255, 0.4);
	height: 35px;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 1000;
}

nav {
  display:inline-block;
	margin: 0 auto;
	width: 100%;
}

/* abajo */
#texto_inicio {
	color: #575756;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#mainMenu, #redes {
	display: inline-block;
	position: relative;
	vertical-align: inherit;
	margin: 5 auto;
}
#redes ul {
	margin-left: 0.75em;
}
#mainMenu ul li, #redes ul li {
	cursor: pointer;
	display: inline-block;
	list-style: none;
	position: relative;
}

/* mouse sobre */
#MainMenu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* boton activo */
#MainMenu ul li.active a {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #cccccc;
}
#MainMenu ul li a {
	color: #575756;
	/* line-height: 50px; */
	position: relative;
	text-decoration: none;
	box-sizing: border-box;
	padding: 0.1em 0.7em;
}
#redes	ul li a {
	color: #575756;
	/* line-height: 50px; */
	position: relative;
	text-decoration: none;
	box-sizing:border-box;
	padding: 0.2em;
}
#facebook, #twitter, #instagram, #youtube {
	height: 15px;
	margin: 0px;
	padding:0px;
}
.section{
    clear: none;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu_bar{
	display: none;
}

/* inicio */
#bg_inicio{
	background: url("../img/Chamalú/logo1.png") center no-repeat;
	background-size: cover;
	display: inline-block;
}

/* grupo */
#bg_grupo1{
	background: url("../img/Chamalú/chatepng.png") no-repeat center;
	background-size: cover;
}
#bg_grupo2{
	background: url("../img/Chamalú/fondo.png") no-repeat center;
	background-size: cover;
}
#bg_grupo3{
	background: url("../img/Chamalú/fondo.png") no-repeat center;
	background-size: cover;
}
#bg_grupo4{
	background: url("../img/Chamalú/fondo.png") no-repeat center;
	background-size: cover;
}
/* temas */
#bg_temas{
	/* background: url("../img/temas.jpg") no-repeat bottom center; */
}
/* imagenes */
#bg_foto1{
	background: url("../img/Chamalú/fedev.png") no-repeat center;
	background-size: cover;
}
/* Videos */
#yt_list{
	position: absolute;
	right: 0;
	bottom: auto;
	top:0;
	right:0;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	padding-top: 35px;
	background-size: contain;
}
/* Partituras */
#bg_partituras{
	background: url("../img/Chamalú/fondo.png") no-repeat center;
  background-size: cover;
  background-position: 100%;
}
/* Discos */
#bg_discos{
	background: url("../img/Chamalú/fondo.png") no-repeat center;
  background-size: cover;
  background-position: 100%;
}
/* Form */
form {
	margin-bottom: 100px;
}
#bg_contacto{
  background: url("../img/Chamalú/lostres.png") no-repeat center;
  background-size: cover;
}


input[type="text"], input[type="email"], textarea {
	width: 350px;
	height: 35px;
	background: rgba(255, 255, 255, 0.5 );
	color: rgb(87, 87, 86);
	font-family: sans-serif;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	border: 0px;
}
textarea {
	max-width: 350px;
	min-width: 350px;
	min-height: 200px;
	padding-top: 10px;
}
button[type="submit"]{
	width: 360px;
	height: 40px;
	outline: none;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  color: #cccccc;
	font-family: sans-serif;
	font-size: 16px;
}




@media (max-width: 850px){
  header {
  	height: 40px;
  }
  header nav{
  	display: block;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: -100%;
  	z-index: 999;
  	background-color: rgba(255, 255, 255, 0.9);
  }
  #redes {
  	display: block;
		margin: auto;
  }
  #redes ul{
  	display: inline-block;
    margin: auto;
  }
  #mainMenu{
  	width: 50%;
		margin: auto;
  }
  #mainMenu ul li {
  	display: block;
  	float: none;
  	border-bottom:  1px solid #B2BAB9;
  }
  #redes ul li {
  	float: none;
  }
  #mainMenu ul li a{
  	line-height: 2em;
    font-size: 1.2em;
  	padding: 0.20em;
  }
  #redes	ul li a{
  	line-height: 50px;
  	padding: 0.5em;
  }
  .menu_bar{
  	display: inline-block;
  	width: 100%;
  	line-height: 40px;
  }
  .menu_bar .boton_menu {
  	display: inline-block;
		/* margin-top: 10px; */
  	font-family: "DK-Lemon";
  	color: #575756;
  	text-decoration: none;
  }

  .section{
      clear: none;
      display: block;
      /*float: left;*/
      overflow-x: visible;
      overflow-y: visible;
      position: absolute;
      width: 100%;
      height: 100%;
  }
}
@media (max-width: 640px){
  header {
  	height: 40px;
  }
  header nav{
  	display: block;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: -100%;
  	z-index: 999;
  	background-color: rgba(255, 255, 255, 0.9);
  }
  #redes {
  	display: block;
    margin: auto;
  }
  #redes ul{
  	display: inline-block;
    margin: auto;
  }
  #mainMenu{
  	width: 50%;
    margin: auto;
  }
  #mainMenu ul li {
  	display: block;
  	float: none;
  	border-bottom:  1px solid #B2BAB9);
  }
  #redes ul li {
  	float: none;
  }
  #mainMenu ul li a{
  	padding: 0.20em;
  	font-size: 1em;
  }
  #redes	ul li a{
    line-height: 50px;
  	padding: 0.5em;
  }
  .menu_bar{
  	display: inline-block;
  	width: 100%;
  	line-height: 40px;
  }
  .menu_bar .boton_menu {
		display: inline-block;
  	font-family: "DK-Lemon";
  	color: #575756;
  	text-decoration: none;
  }
}

.logo {
  width: 90%;
  position: relative;
  top: 50px;
  z-index: 0;
}
